{% load static %}
<!--
Autor: Emanuel Nzinga Maimona
E-mail: emanuelmaimona.com
-->

<!doctype html>
<html lang="pt">
  <head>
      <!-- Meta tag Keywords -->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="HemoAngola, Doe sangue, salve vidas" />
    <meta name="author" content="Emanuel Nzinga Maimona">
    <title>HemoAngola</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">

    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
	<!-- Style-CSS -->
	  <link href="{% static 'css/font-awesome.min.css' %} " rel="stylesheet">
    <!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">

  </head>
  <body class="text-center">
    <form class="form-signin" method="POST">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-norma display-4 text-secondary">HemoAngola</h1>
        <h1 class="h3 mb-3 font-weight-normal">Seja bem vindo!</h1>
        <label for="inputText" class="sr-only">Nome de usuario</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">@</div>
            </div>
        <input type="text" id="inputText" class="form-control" name="username" placeholder="" required autofocus>
        </div>  
        <label for="inputPassword" class="sr-only">Senha</label>
        <span class="mt-1"></span>
        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="senha" required>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        <a class="btn btn-lg alert-success btn-block" href="{% url 'url_regist' %}" >Cadastrar se</a>

        {% for m in messages %}
          <p id="messages" class="my-2 alert alert-info">{{m}}</p>
        {% endfor %}
        <!-- copyright -->
        <p class="mt-5 mb-3 text-muted">© 2021 HemoAngola. Todos os direitos reservados</p>

    </form>
</body>
</html>
